
/* custom styling for the header component */
header {
    background-color: #333; /* Dark color background  */
    color: #fff; /* Light color foe text */
    padding: 10px; /* Add some padding */
  }
  
  nav ul {
    list-style-type: none; /* Removing default list styles */
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline; /* Displaying list items inline */
  }
  
  nav ul li a {
    color: #fff; /* Light text color for links */
    text-decoration: none; /* Remove default underline */
    padding: 10px; /* Add padding to links */
  }
  
  nav ul li a:hover {
    background-color: #555; /* Darken background color on hover */
  }


  /* styling the custom footer  */
  footer {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
    padding: 10px; /* Add some padding */
    position: fixed; /* Fix the footer at the bottom of the page */
    width: 100%; /* Full width */
    bottom: 0; /* Stick to the bottom of the page */
  }